name: mobile
description: Track, analyze, and share your catches in the sport of fishing.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
#
# Both numbers must be incremented for Android. DO NOT add any suffix to the date, such as ".2". The
# period will be removed on Google Play and builds with lower numbers cannot be uploaded.
version: 2.0.22+20220530
publish_to: none

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  archive: ^3.1.11                  # https://pub.dev/packages/archive
  collection: ^1.15.0               # https://pub.dev/packages/collection (Dart)
  crypto: ^3.0.1                    # https://pub.dev/packages/crypto (Dart)
  device_info_plus: ^3.2.1          # https://pub.dev/packages/device_info_plus (Flutter)

  # https://pub.dev/packages/extension_google_sign_in_as_googleapis_auth (Google)
  extension_google_sign_in_as_googleapis_auth: ^2.0.4

  file_picker: ^4.3.3               # https://pub.dev/packages/file_picker (verified)
  firebase_analytics: ^9.1.0        # https://pub.dev/packages/firebase_analytics (Google)
  firebase_core: ^1.12.0            # https://pub.dev/packages/firebase_core (Google)
  firebase_crashlytics: ^2.6.1      # https://pub.dev/packages/firebase_crashlytics (Google)
  flutter_image_compress: 1.1.0     # https://pub.dev/packages/flutter_image_compress
  flutter_native_timezone: ^2.0.0   # https://pub.dev/packages/flutter_native_timezone
  flutter_svg: ^1.0.3               # https://pub.dev/packages/flutter_svg (verified)
  geolocator: ^8.2.0                # https://pub.dev/packages/geolocator (verified)
  googleapis: ^7.0.0                # https://pub.dev/packages/googleapis (Google)
  google_mobile_ads: ^1.1.0         # https://pub.dev/packages/google_mobile_ads/install (Google)
  google_sign_in: ^5.2.3            # https://pub.dev/packages/google_sign_in (Flutter)
  http: ^0.13.4                     # https://pub.dev/packages/http (Dart)
  image_picker: ^0.8.4+8            # https://pub.dev/packages/image_picker (Flutter)
  intl: ^0.17.0                     # https://pub.dev/packages/intl (Dart)
  mapbox_gl: ^0.16.0                # https://pub.dev/packages/mapbox_gl (unofficial)
  package_info_plus: ^1.3.0         # https://pub.dev/packages/package_info_plus (Flutter)
  path: ^1.8.0                      # https://pub.dev/packages/path (Dart)
  path_provider: ^2.0.9             # https://pub.dev/packages/path_provider (Flutter)
  permission_handler: ^8.3.0        # https://pub.dev/packages/permission_handler (verified)
  photo_manager: ^2.0.0             # https://pub.dev/packages/photo_manager (verified)
  protobuf: ^2.0.1                  # https://pub.dev/packages/protobuf (Dart)
  provider: ^6.0.2                  # https://pub.dev/packages/provider (verified)
  purchases_flutter: ^3.9.3         # https://pub.dev/packages/purchases_flutter (verified)
  quiver: ^3.0.1+1                  # https://pub.dev/packages/quiver (Google)
  shared_preferences: ^2.0.13       # https://pub.dev/packages/shared_preferences (Flutter)
  share_plus: ^3.0.4                # https://pub.dev/packages/share_plus (Flutter Community)
  sqflite: ^2.0.2                   # https://pub.dev/packages/sqflite (verified)
  timezone: ^0.8.0                  # https://pub.dev/packages/timezone
  url_launcher: ^6.0.20             # https://pub.dev/packages/url_launcher (Flutter)
  uuid: ^3.0.5                      # https://pub.dev/packages/uuid (verified)
  version: ^2.0.0                   # https://pub.dev/packages/version (verified)

dev_dependencies:
  build_runner: ^2.1.7              # https://pub.dev/packages/build_runner (Dart)
  flutter_launcher_icons: ^0.9.2    # https://pub.dev/packages/flutter_launcher_icons (Flutter)
  flutter_lints: ^1.0.4             # https://pub.dev/packages/flutter_lints (Flutter)
  flutter_test:
    sdk: flutter
  mockito: ^5.1.0                   # https://pub.dev/packages/mockito (Dart)
  test: ^1.16.5                     # https://pub.dev/packages/test (Dart)

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "../img/app_icon.png"
  adaptive_icon_background: "#03A9F4"
  adaptive_icon_foreground: "../img/android_launcher.png"

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/active-pin.svg
    - assets/feedback_template
    - assets/google-logo.svg
    - assets/mapbox-logo.svg
    - assets/sensitive.properties

    - packages/timezone/data/latest.tzf

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: CustomIcons
      fonts:
        - asset: fonts/CustomIcons.ttf

    - family: RobotoMedium
      fonts:
        - asset: fonts/Roboto-Medium.ttf

  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
