<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438287919943-rbn8mcjapo1c4kao77i6gs88ht1tt7rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438287919943-rbn8mcjapo1c4kao77i6gs88ht1tt7rc</string>
	<key>API_KEY</key>
	<string>AIzaSyDV3eTX1lOBNVHkGJA8b9vXQ4Zwos-LGPo</string>
	<key>GCM_SENDER_ID</key>
	<string>438287919943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CMA.TheAnglersLog</string>
	<key>PROJECT_ID</key>
	<string>anglers-log-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>anglers-log-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438287919943:ios:f8a0c7186d474db8</string>
	<key>DATABASE_URL</key>
	<string>https://anglers-log-dev.firebaseio.com</string>
</dict>
</plist>