<div>
	<img src="img/apple-icon.png" width="25" height="25">
</div>

<div>
	Anglers' Log allows you to backup your entries to your favorite cloud storage app, assuming said app is installed on your device.
</div>

<div class="alert alert-info" role="alert">
	<strong>Note!</strong> For any errors see <a href="#" ng-click="appCtrl.scrollTo('#backup-errors')">Importing and Exporting Errors</a>.
</div>

<div>
	<strong>Exporting:</strong>
	<ol>
		<li>On your device, open Anglers' Log and go to Settings.</li>
		<li>Tap "Export" and "Export" again.</li>
		<li>Wait for the exporting process to finish. This may take several minutes depending on how many entries you have.</li>
		<li>When exporting is complete you will be given your available cloud options.</li>
		<li>Tap the backup option you want.</li>
		<li>You will be presented with your cloud backup folder.</li>
		<li>Tap "Export to this location", or "Save Here" (actual text varies).</li>
		<li>Your backup .zip file will now be uploaded to the selected cloud folder.</li>
	</ol>
	<strong>Importing:</strong>
	<ol>
		<li>On your device, open Anglers' Log and go to Settings.</li>
		<li>Tap "Import" and "Import" again.</li>
		<li>Tap the backup option that contains your backup .zip file (i.e. Google Drive or Dropbox).</li>
		<li>You will be presented with your cloud backup folder.</li>
		<li>Select your backup file. If the file is "greyed out", see <a href="#" ng-click="appCtrl.scrollTo('#backup-errors')">Importing and Exporting Errors</a>.</li>
		<li>You will be notified when importing is complete. This may take several minutes depending on how many entries you have.</li>
	</ol>
</div>