<div>
	<img src="img/android-icon.png" width="25" height="25">
</div>

<div>
	Anglers' Log allows you to backup your data to your favorite cloud storage app, assuming said app is installed on your device.
</div>

<div class="alert alert-info" role="alert">
	<strong>Note!</strong> For any errors, or if you think your import or export didn't work property please <a href="#" ng-click="appCtrl.scrollTo('#in-app-feedback')">file a bug report</a>.
</div>

<div>
	<strong>Exporting:</strong>
	<ol>
		<li>On your device, open Anglers' Log and go to Settings.</li>
		<li>Tap "Export" and "Export" again.</li>
		<li>Wait for the exporting process to finish. This may take several minutes depending on how the amount of data you have.</li>
		<li>When exporting is complete you will be given your available transfer options.</li>
		<li>Tap the backup option you want and follow the prompts for that application.</li>
		<li>Your backup .zip file will now be uploaded to the selected cloud folder.</li>
	</ol>

	<strong>Importing:</strong>
	<ol>
		<li>On your device, open Anglers' Log and go to Settings.</li>
		<li>Select your backup file. If the file is "greyed out", please <a href="#" ng-click="appCtrl.scrollTo('#in-app-feedback')">file a bug report</a>.</li>
		<li>Tap "Import"</li>
		<li>Wait for the import process to complete. This may take several minutes depending on how much data you have.</li>
	</ol>
</div>