<div>
	<img src="img/apple-icon.png" width="25" height="25">
</div>

<div>
	The following are error codes you may while using Anglers' Log:
	<ul>
		<li><b>Error Code: 5</b><br>The location, bait, species, etc. you attempted to delete didn't work. This normally happens if for some reason the item you're trying to delete has the same name as another item of the same type.  Try renaming the item and then deleting it again.<br></li>
	</ul>
</div>

<div class="alert alert-warning" role="alert">
	<strong>Warning!</strong> If you are repeatedly experiencing these errors, please <a href="#" ng-click="appCtrl.scrollTo('#in-app-feedback')">send a bug report</a> or <a href="#" ng-click="appCtrl.scrollTo('#contact')">contact Anglers' Log</a>.
</div>